In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]],
                  columns = ['col01', 'col02', 'col03'],
                  index = ['idx01', 'idx02', 'idx03'])
df

       col01  col02  col03
idx01      1      2      3
idx02      4      5      6
idx03      7      8      9