In [49]:
import pandas as pd

In [9]:
import numpy as np

In [5]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]],
                  columns = ['col01', 'col02', 'col03'],
                  index = ['idx01', 'idx02', 'idx03'])
df

       col01  col02  col03
idx01      1      2      3
idx02      4      5      6
idx03      7      8      9

In [20]:
type(df)

pandas.core.frame.DataFrame

In [23]:
df.dtypes

col01    int64
col02    int64
col03    int64
dtype: object

In [21]:
pd.set_option('display.max_rows', 10)

In [31]:
df_csv = pd.read_csv('population.csv', encoding = 'shift-jis')
# Shift-JISは1文字あたりの容量は少ないが、表示環境によっては文字化けする可能性があり、文字種類も多い訳ではない
# UTF-8は世界標準になってきており、どの国でも文字化けが起こらないが、Shift-JISの1.5倍の容量になる
df_csv

,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
0,00,全国,大正,9.0,1920.0,NaN,55963053,28044185,27918868
1,01,北海道,大正,9.0,1920.0,NaN,2359183,1244322,1114861
2,02,青森県,大正,9.0,1920.0,NaN,756454,381293,375161
3,03,岩手県,大正,9.0,1920.0,NaN,845540,421069,424471
4,04,宮城県,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...,...
977,45,宮崎県,平成,27.0,2015.0,NaN,1104069,519242,584827
978,46,鹿児島県,平成,27.0,2015.0,NaN,1648177,773061,875116
979,47,沖縄県,平成,27.0,2015.0,NaN,1433566,704619,728947
980,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
type(df_csv.index)

pandas.core.indexes.range.RangeIndex

In [58]:
df_csv.dtypes

都道府県コード     object
都道府県名       object
元号          object
和暦（年）      float64
西暦（年）      float64
注           object
人口（総数）      object
人口（男）       object
人口（女）       object
dtype: object

In [25]:
df_cb = pd.read_clipboard()
df_cb

Empty DataFrame
Columns: [jupyter, lab]
Index: []

In [27]:
df_cb.dtypes

jupyter    object
lab        object
dtype: object

In [29]:
type(df_cb)

pandas.core.frame.DataFrame

In [47]:
import sqlite3

In [56]:
dbname = 'TEST.db'
conn = sqlite3.connect(dbname)
conn.close()

In [59]:
conn = sqlite3.connect(dbname)
df_csv.to_sql('test_table', conn, if_exists = 'replace')
conn.close()

In [60]:
conn = sqlite3.connect(dbname)
df_db = pd.read_sql('SELECT * FROM test_table', conn)
conn.close()
df_db

,index,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
0,0,00,全国,大正,9.0,1920.0,None,55963053,28044185,27918868
1,1,01,北海道,大正,9.0,1920.0,None,2359183,1244322,1114861
2,2,02,青森県,大正,9.0,1920.0,None,756454,381293,375161
3,3,03,岩手県,大正,9.0,1920.0,None,845540,421069,424471
4,4,04,宮城県,大正,9.0,1920.0,None,961768,485309,476459
...,...,...,...,...,...,...,...,...,...,...
977,977,45,宮崎県,平成,27.0,2015.0,None,1104069,519242,584827
978,978,46,鹿児島県,平成,27.0,2015.0,None,1648177,773061,875116
979,979,47,沖縄県,平成,27.0,2015.0,None,1433566,704619,728947
980,980,1) 沖縄県は調査されなかったため，含まれていない。,None,None,NaN,NaN,None,None,None,None
981,981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,None,None,NaN,NaN,None,None,None,None

In [68]:
df_db.query('都道府県名 == "東京都"')

     index 都道府県コード 都道府県名  元号  和暦（年）   西暦（年）     注    人口（総数）    人口（男）    人口（女）
13      13      13   東京都  大正    9.0  1920.0  None   3699428  1952989  1746439
61      61      13   東京都  大正   14.0  1925.0  None   4485144  2387609  2097535
109    109      13   東京都  昭和    5.0  1930.0  None   5408678  2855323  2553355
157    157      13   東京都  昭和   10.0  1935.0  None   6369919  3325696  3044223
205    205      13   東京都  昭和   15.0  1940.0  None   7354971  3795875  3559096
..     ...     ...   ...  ..    ...     ...   ...       ...      ...      ...
745    745      13   東京都  平成    7.0  1995.0  None  11773605  5892704  5880901
795    795      13   東京都  平成   12.0  2000.0  None  12064101  6028562  6035539
845    845      13   東京都  平成   17.0  2005.0  None  12576601  6264895  6311706
895    895      13   東京都  平成   22.0  2010.0  None  13159388  6512110  6647278
945    945      13   東京都  平成   27.0  2015.0  None  13515271  6666690  6848581

[20 rows x 10 columns]

In [69]:
df_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982 entries, 0 to 981
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    982 non-null    int64
 1   都道府県コード  982 non-null    object
 2   都道府県名    980 non-null    object
 3   元号       980 non-null    object
 4   和暦（年）    980 non-null    float64
 5   西暦（年）    980 non-null    float64
 6   注        96 non-null     object
 7   人口（総数）   980 non-null    object
 8   人口（男）    980 non-null    object
 9   人口（女）    980 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 76.8+ KB

In [70]:
s1 = pd.Series([7000, 5000, 23000, 2500, 12000])
s1

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [71]:
s1 * 2

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [72]:
def double(x):
    return x * 2

In [73]:
s1.map(double)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [76]:
s1.map(lambda x: x * 2)
# ラムダ式：無名関数

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [77]:
s1.map(np.square)

0     49000000
1     25000000
2    529000000
3      6250000
4    144000000
dtype: int64

In [78]:
s1.sum()

49500

In [79]:
import re
# 正規表現を使用するライブラリ

In [80]:
s1.map('{}円'.format)

0     7000円
1     5000円
2    23000円
3     2500円
4    12000円
dtype: object

[![Image from Gyazo](https://i.gyazo.com/46bad6a63e611296ccf533fa9c26bb36.png)](https://gyazo.com/46bad6a63e611296ccf533fa9c26bb36)